p{
  text-align: center;
}

.increaseFontSize{
  font-size: 30px;
  color: red;
}

.availPlayers{
  text-align: center;
  margin: 20px;
  border: 2px solid gray;
  min-height: 160px;
  width: 250px;
}

.boxes {
    border: 2px solid gray;
    height: 160px;
    width: 250px;
    display: inline-block;
    background-color: green;
}
